---
import BaseLayout from '../layouts/BaseLayout.astro';
import NavBar from '../components/NavBar.astro';
import Twikoo from '../components/Twikoo.astro';
---

<BaseLayout title="关于 - krya">
  <NavBar slot="header" />
  
  <div class="col-mb-12" id="main" role="main">
    <article class="post">
      <h1 class="post-title">关于我</h1>
      <div class="post-content">
        <h2>About me：</h2>
        <p>I'm a liquor salesman live in <a href="https://en.wikipedia.org/wiki/Chengdu">Chengdu</a>, used to be a packaging designer in a liquor company. I have a couple of online shops on Alibaba and JD.com. I enjoy liquor but never excessive drinking. Like web technology but never developed a website without open source code. I created this blog to record and share my thoughts.</p>
        
        <h2>Contact:</h2>
        <p>Email: <a href="mailto:hi@krya.com">hi@krya.com</a> | <a href="https://x.com/uniifi">Twitter</a></p>
        
        <p><strong>RSS Subscription:</strong> <a href="https://krya.com/feed.xml">https://krya.com/feed.xml</a></p>
        
        <h2>History of my blog:</h2>
        <p>In 2008, I wrote in Baidu Space, triggered sensitive words by unknow reason. I couldn't express opinion freely. It let me very uncomfortable. so i migrated my posts to NetEase Blog Platment.</p>
        <p>In 2010, Maybe i'm not cynical, but i must protect my right to freedom of speech. So i used Wordpress built a independent blog.</p>
        <p>In 2012, Migrated to Blogger.</p>
        <p>In 2014, Another blog was cerated using Typecho. And run it on various cloud computing platform.</p>
        <p>And now, I am deploying my blog using <a href="https://www.alibabacloud.com/campaign/benefits?referral_code=A92NSW">Alibaba Cloud</a>.</p>
        
        <h2>版权声明</h2>
        <p>Unless otherwise noted, all content on this site/this article is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
        <p>除另有注明外，本站/本文内容采用 知识共享署名 - 非商业性使用 - 相同方式共享 4.0 国际许可协议 (CC BY-NC-SA 4.0) 进行许可。</p>
      </div>
    </article>
    
    <Twikoo />
  </div>
</BaseLayout>
