---
import BaseLayout from '../layouts/BaseLayout.astro';
import NavBar from '../components/NavBar.astro';
import Twikoo from '../components/Twikoo.astro';
---

<BaseLayout title="关于 - krya">
  <NavBar slot="header" />
  
  <div class="col-mb-12" id="main" role="main">
    <article class="post">
      <h1 class="post-title">关于我</h1>
      <div class="post-content">
		
        <p>本人居住成都🐼，通过互联网挣钱，自由职业。积极尝试各种新技术，也喜欢听取一些新颖的观点。写这个博客是为了记录和分享自己的一些想法。</p>
        
		<p>从2008年开始写博客，先后经历百度空间、网易博客、Wordpress、Blogger；2014年转向Typecho；2026年正式采用Astro框架将博客静态化。模板由我设计，Hermes Agent帮我实现前端功能代码；部署平台是免费的。</p>

		<p>文章保存在家里的Linux小主机上，然后在Windows上添加Linux虚拟硬盘。我在Windows主机上用Obsidian编辑文章，然后让Hermes帮我推送到github。有时为了省事，全文发送给Hermes，让Hermes自己推送到github。</p>
		
		<h2>About me</h2>
		 
		<p>I live in <a href="https://en.wikipedia.org/wiki/Chengdu">Chengdu</a>🐼 and earn my living through the internet without being tied to a specific company. I actively experiment with new technologies and enjoy exploring novel perspectives. I maintain this blog to record and share my thoughts.</p>

		<p>I’ve been blogging since 2008, moving through Baidu Kongjian, Netease Blog, WordPress, and Blogger. In 2014, I switched to Typecho, and in 2026, I officially transitioned to a static site using the Astro framework. I designed the template myself, while my Hermes Agent handled the frontend functional code. The deployment is hosted on a free platform.</p>

		<p>My articles are stored on a small Linux host at home, which I access as a virtual drive on my Windows machine. I use Obsidian on Windows to edit my posts and then have Hermes push them to GitHub. Sometimes, to save time, I send the full text to Hermes and let it handle the GitHub push directly.</p>
        
		<h2>Contact:</h2>
        <p>Email: <a href="mailto:hi@krya.com">hi@krya.com</a> </p>
		<p>Twitter:<a href="https://x.com/uniifi">jin</a></p>
        
        <h2>版权声明</h2>
        <p>Unless otherwise noted, all content on this site/this article is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
        <p>除另有注明外，本站/本文内容采用 知识共享署名 - 非商业性使用 - 相同方式共享 4.0 国际许可协议 (CC BY-NC-SA 4.0) 进行许可。</p>
      </div>
    </article>
    
    <Twikoo />
  </div>
</BaseLayout>
