---
import BaseLayout from '../layouts/BaseLayout.astro';
import NavBar from '../components/NavBar.astro';
import Twikoo from '../components/Twikoo.astro';
---

<BaseLayout title="关于 - 浮生百记">
  <NavBar slot="header" />
  
  <div class="col-mb-12" id="main" role="main">
    <article class="post">
      <h1 class="post-title">关于博客</h1>
      <div class="post-content">
        <p>本人居住成都，主业卖酒，搞各种电商；积极尝试各种新技术，也喜欢听取一些新颖的观点。写这个博客是为了记录自己的一些想法。</p>
		<p>我从08年至今一直用各种方法写博客；但是无论什么方案，只要用到服务器，就免不了定时续费、维护。了解到静态博客后，决定采用Astro静态博客框架；日常免维护，低成本，利用CDN之后访问速度非常快。</p>
        <p>博客所用的主题模板是我曾经在Typecho所用的自制主题，一直很喜欢这份简单单单；我命令Hermes Agent改造成了Astro sintu主题；并且增加了Twikoo作为评论系统；基本上博客该有的功能都满足了，感觉很好！</p>
      </div>
    </article>
    
    <Twikoo />
  </div>
</BaseLayout>
