---
import BaseLayout from '../layouts/BaseLayout.astro';
import NavBar from '../components/NavBar.astro';
import Twikoo from '../components/Twikoo.astro';
---

<BaseLayout title="关于 - krya">
  <NavBar slot="header" />
  
  <div class="col-mb-12" id="main" role="main">
    <article class="post">
      <h1 class="post-title">关于我</h1>
      <div class="post-content">
		
        <p>本人居住成都🐼，通过互联网挣钱，无明确就职公司。积极尝试各种新技术，也喜欢听取一些新颖的观点。写这个博客是为了记录和分享自己的一些想法。</p>
        
		<p>从2008年开始写博客，先后经历百度空间、网易博客、Wordpress、Blogger；
2014年转向Typecho；2026年正式采用Astro框架将博客静态化。模板由我设计，Hermes Agent帮我实现前端功能代码；部署平台是免费的。</p>

		<p>文章保存在家里的Linux小主机上，然后在Windows上添加Linux虚拟硬盘。我在Windows主机上用Obsidian编辑文章，然后让Hermes帮我推送到github。有时为了省事，全文发送给Hermes，让Hermes自己推送到github。</p>
        
		<h2>Contact:</h2>
        <p>Email: <a href="mailto:hi@krya.com">hi@krya.com</a> </p>
		<p><a href="https://x.com/uniifi">Twitter</a></p>
        
        <h2>版权声明</h2>
        <p>Unless otherwise noted, all content on this site/this article is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
        <p>除另有注明外，本站/本文内容采用 知识共享署名 - 非商业性使用 - 相同方式共享 4.0 国际许可协议 (CC BY-NC-SA 4.0) 进行许可。</p>
      </div>
    </article>
    
    <Twikoo />
  </div>
</BaseLayout>
